.welcome-container {
    width: 30%;
}

.labels-container {
    width: 30%;
}

.url-container {
    width: 30%;
}

body {
    width: 100%;
}

input[name=user_name] {
    width: 150px;
}

input[name=url] {
    width: 250px;
}
